<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header
      class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Simple header</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item"><a href="/create_car/" class="nav-link" id="create_car">Create Post</a></li>
        <li class="nav-item"><a href="/edit_user/" class="nav-link"  id="edit_user" >Edit Profile</a></li>
        <li class="nav-item"><a href="/view_bookings/" class="nav-link" id="view_bookings">View Booking</a></li>
        <li class="nav-item"><a href="/register" class="nav-link" id="register">Register</a></li>
        <li class="nav-item"><a href="/login/page/" class="nav-link" id="login">Login</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link" id="logout">Logout</a></li>
      </ul>
    </header>
      <script>
        $("#logout").click(function (e) { 
          e.preventDefault();
          localStorage.removeItem("email")
          localStorage.removeItem("name")
          localStorage.removeItem("role")
          localStorage.removeItem("id")
          window.location.href = "/";
        });

        var user = localStorage.getItem("email")
        if(user){
          $("#login").hide()
          $("#register").hide()
        }else{
          $("#edit_user").hide()
          $("#logout").hide()
        }

        user_role = localStorage.getItem("role")
        if (user_role != 1){
          $("#create_car").hide()
          $("#view_bookings").hide()
        }
      </script>
  </body>
</html>
